body {
    background-color: #fff;
    background-image: url('/src/images/eaters-collective-ddZYOtZUnBk-unsplash.jpg');
    background-size: 90%;
    background-repeat: 2;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue; 
  }