body {
    background-color: #fff;
    background-image: url('/src/images/eaters-collective-ddZYOtZUnBk-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: repeat-x;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(106, 106, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 167, 181); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue; 
  }